body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#cityInput {
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: hsl(220, 80%, 60%);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.weatherForm {
  margin-top: 50px;
}

button[type="submit"]:hover {
  background-color: hsl(220, 80%, 50%);
}

.card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.1);
  min-width: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 15%);
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}
.cityDisplay,
.tempDisplay {
  font-size: 3rem;
  font-weight: bold;
  color: hsl(0, 0%, 0.75);
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-top: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 1.8rem;
}

.weatherEmoji {
  font-size: 5rem;
  margin: 0;
}
.errorDisplay {
  color: hsl(0, 0%, 29%);
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 40px;
}
