body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/my-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clock-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  padding: 20px 70px;
  background-color: hsla(0, 0%, 100%, 0.1);
}
