*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  background-color: hsl(0, 0%, 15%);
  max-width: 400px;
  max-height: 600px;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
  gap: 10px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  padding: 10px;
  background-color: hsl(0, 0%, 25%);
  border: none;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
  height: 28px;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
  width: 100%;
  text-align: right;
  height: 47px;
}

button {
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(39, 100%, 55%);
}
.operator-btn:hover {
  background-color: hsl(39, 100%, 65%);
}
.operator-btn:active {
  background-color: hsl(39, 100%, 75%);
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: hsl(0, 0%, 21%);
  color: white;
  padding: 12px 20px;
  border-radius: 15px;
  font-weight: bold;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-50%) translateY(-10px);
}
.popup.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.hidden {
  display: none;
}
