body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: hsl(203, 92%, 35%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-bottom: 40px;
}

#lengthInput,
#generatePasswordBtn,
#copyButton {
  padding: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.hidden {
  display: none;
}
