body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 77%, 0.301);
}

#myH1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Arial', sans-serif;
  color: hsl(0, 0%, 25%);
}

#container {
  margin-top: 15px;
  background-color: white;
  padding: 30px 50px;
  border-radius: 30px;
  border: 4px solid hsl(0, 0%, 20%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#display {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: monospace;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
}

#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 25px;
  margin: 5px 10px;
  border: none;
  border-radius: 25px;
  min-width: 125px;
  cursor: pointer;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.1s ease;
}

.start {
  background-color: hsl(120, 70%, 40%);
}

.start:hover {
  background-color: hsl(120, 70%, 30%);
}

.stop {
  background-color: hsl(0, 70%, 50%);
}

.stop:hover {
  background-color: hsl(0, 70%, 40%);
}

.resume {
  background-color: grey;
}
.resume:hover {
  background-color: rgb(90, 90, 90);
}

#resetBtn {
  background-color: hsl(207, 100%, 50%);
}

#resetBtn:hover {
  background-color: hsl(207, 100%, 40%);
}
