body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: hsl(0, 0%, 20%);
  margin-bottom: 0;
  font-size: 3.5rem;
}

.choices {
  margin-top: 60px;
  margin-bottom: 50px;
}

button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
  border: black 2px solid;
  border-radius: 250px;
  background-color: hsl(200, 100%, 50%);
  box-shadow: 0 6px 0 hsl(0, 0%, 73%);
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: hsl(200, 100%, 70%);
}

button:active {
  transform: translateY(6px);
  box-shadow: none;
}

#playerDisplay,
#computerDisplay {
  font-size: 2rem;
  margin-top: 10px;
  color: hsl(0, 0%, 10%);
  font-weight: bold;
}

.resultDisplay,
.score {
  font-size: 3rem;
  margin-top: 20px;
  color: hsl(0, 0%, 15%);
  font-weight: bold;
  visibility: hidden;
  min-height: 70px;
}

.score {
  color: hsla(0, 0%, 30%, 0.8);
}

.show {
  visibility: visible;
}

.textGreen {
  color: hsl(120, 100%, 25%);
}

.textRed {
  color: hsl(0, 82%, 45%);
}
