body {
  font-family: Verdana;
  font-size: 1em;
  margin: 0;
}

/* .box {
  border: 3px solid;
  width: 100%;
  height: 125px;
} */
/* #mySubmit {
  font-size: 1em;
} */

/* #fruits {
  border: 3px solid;
  font-size: 2rem;
} */
/* 
#myBox {
  background-color: lightblue;
  width: 300px;
  height: 300px;
  font-size: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
} */
#myButton {
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.car-image {
  width: 600px;
  height: 400px;
}

.hidden {
  visibility: hidden;
}

.myButtons {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  /* background-color: hsl(205, 100%, 60%);
  color: white; */
  cursor: pointer;
}

#myButton {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
}

.enabled {
  background-color: hsl(204, 100%, 50%);
  color: white;
}

.hover {
  box-shadow: 10px 10px 20px hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

.disabled {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 80%);
}

#myH1 {
  font-size: 5rem;
}
