body {
  font-family: Arial, sans-serif;
  background-color: hsla(0, 1%, 81%, 0.301);
  display: flex;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-top: 0;
  color: hsl(190, 100%, 35%);
}

form {
  margin: auto;
  background-color: white;
  width: 400px;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsla(0, 0%, 19%, 0.331);
  text-align: center;
}

input {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.2em;
}

#textBox {
  width: 200px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 30%, 0.76);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}

label {
  font-size: 1.3em;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1.2em;
  border: none;
  background-color: hsl(244, 94%, 65%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(244, 55%, 52%);
}

button:active {
  transform: scale(0.98);
}

#result {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
